@font-face {
  font-family: "Canela-Light";
  src: url("../font/Canela-Light/Canela-Light.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Canela-Regular";
  src: url("../font/Canela-Regular/Canela-Regular.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-VariableFont_wght.ttf");
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Canela-Light";
}

html {
  font-size: 15px;
}
html,
body {
  overflow-x: hidden;
}
.Wrapper {
  overflow-x: hidden;
  position: relative;
}
body {
  background-color: white;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}
.container {
  width: 1342px;
  margin: auto;
}
input[type="checkbox"] {
  display: none;
}
.Arrow {
  cursor: pointer;
}
hr {
  border: none;
  height: 1px;
  background-color: black;
  opacity: 0.2;
}
.headerTile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.headerTile h3 {
  font-weight: 300;
  font-size: 40px;
}
/*section Nav Bar --------------------*/
header {
  background: white;
  position: relative;
  height: 134px;
  display: flex;
  align-items: center;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  padding: 0.9em 0;
}
header nav .logo img {
  /*Need To chge !!!!!!!!!!!!!!!!!!!!!!!!!!!*/
  width: 100px;
}
header .SocialLinks {
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
}
header .SocialLinks ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

header .SocialLinks ul li:nth-of-type(2) {
  margin-left: 32px;
}

header .SocialLinks ul li:nth-of-type(3) {
  margin-left: 40px;
}

header .SocialLinks ul li:nth-of-type(4) {
  margin-left: 7px;
}

header .SocialLinks ul li svg {
  width: 14px;
  height: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: white;
  stroke: white;
}
header .SocialLinks ul li svg .cls-1,
header .SocialLinks ul li svg .cls-2 {
  stroke: white;
  transition: 0.2s all;
}

header .SocialLinks ul li:nth-of-type(2) svg .cls-1 {
  stroke: #231f20;
  fill: #231f20;
}
header .SocialLinks ul li:nth-of-type(3) svg .cls-2 {
  fill: white;
}
header .SocialLinks ul li:nth-of-type(3) a:hover .cls-2 {
  fill: #231f20;
}
header .SocialLinks ul li:nth-of-type(4) a:hover .cls-1 {
  stroke: #231f20;
}
header .SocialLinks ul li:nth-of-type(4) a:hover .cls-2 {
  stroke: black;
}

header .SocialLinks ul li a {
  background-color: #231f20;
  border-radius: 50%;
  display: block;
  position: relative;
  height: 26px;
  width: 26px;
  transition: 0.2s all;
}
header .SocialLinks ul li:nth-of-type(1) a {
  background-color: white;
}
header .SocialLinks ul li:nth-of-type(1) a .cls-1 {
  stroke: #231f20;
}
header .SocialLinks ul li:nth-of-type(1) a:hover {
  background-color: #231f20;
}
header .SocialLinks ul li:nth-of-type(1) a:hover .cls-1 {
  stroke: #e6e6e6;
}

header .SocialLinks ul li:nth-of-type(2) a {
  background-color: white;
}

header .SocialLinks ul li:not(:first-child) a:hover {
  background-color: white;
}
header .SocialLinks ul li:not(:first-child) a:hover svg {
  fill: #e6e6e6;
}
header .SocialLinks ul li:nth-of-type(2) a:hover {
  background-color: #231f20;
}
header .SocialLinks ul li:nth-of-type(2) a:hover .cls-1 {
  fill: white;
  stroke: white;
}

header .SocialLinks ul li img {
  /*Ned To change*/
  width: 20px;
}
header .SocialLinks ul li:last-child img {
  width: 80px;
}
header label[for="ButtonLinks"] {
  z-index: 10;
  height: 30px;
}
header .ButtonLinks {
}
header .ButtonForLink span {
  display: block;
  width: 30px;
  height: 4px;
  background: black;
  border-radius: 10px;
}
header .ButtonForLink span:not(:nth-child(1)) {
  margin: 8px 0;
}

header .Links {
  position: absolute;
  width: 100%;
  left: -100%;
  z-index: 50;
  background-color: white;
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
  top: 60px;
}
input[id="ButtonLinks"]:checked + .Links {
  left: 0;
}
header .Links hr {
  border: none;
  height: 1px;
  background-color: black;
  opacity: 0.6;
  width: 90%;
  margin: auto;
}
header .Links a {
  opacity: 0.8;
  font-family: "Canela-Light";
  font-size: 16px;
  font-weight: 900;
}
header .Links > ul > li:hover a {
  opacity: 1;
}
header .Links > ul > li {
  padding: 1em 1.5em;
}
header .linksHover ul {
  overflow-y: hidden;
  max-height: 0px;
}
header .linksHover ul li {
  padding: 0.5em 0em;
}

header .linksHover:hover ul {
  max-height: 600px;
}
/*FIN section Nav Bar --------------------*/
/* section Slider */
#main {
  position: relative;
  min-height: 300px;
  margin-bottom: 96px;
}
#main .items {
  position: relative;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
}
#main .items .item {
  height: 300px;
  width: 100%;
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

#main .items .item1 {
  background-image: url("../img/background2.png");
}
#main .items .item2 {
  background-image: url("../img/background1.png");
}
#main .items .item1 .Event {
  background-color: #421d0a;
}
#main .items .item2 .Event {
  background-color: #14352a;
}
#main .items .item {
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 5;
}
#main .items .item .Event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  width: 80%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 80%;
}
#main .items .item .Event .EventInfo {
  padding: 1em;
}
#main .items .item .Event .EventInfo > * {
  margin: 0.5em 0;
}
#main .items .item .Event .EventInfo p,
#main .items .item .Event .EventInfo .infoEvent {
  opacity: 0.5;
}
#main .items .item .Event .Details {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50%;
}
#main .items .item .Event .Detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 0.8em;
  position: relative;
  opacity: 0.5;
  text-align: center;
  width: 100%;
}
#main .items .item .Event .Detail:nth-of-type(2) {
  position: relative;
}
#main .items .item .Event .Detail:nth-of-type(2):after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: white;
  opacity: 0.3;
}

#main .items .item .Event .LinkDeatail {
  width: 80%;
  text-transform: uppercase;
}
#main .items .item .Event .Details:after {
  content: "";
  background-color: white;
  position: absolute;
  top: 0%;
  left: 0;
  height: 100%;
  width: 1px;
  opacity: 0.3;
}
#main .items .item .Event .Detail:before {
  content: "";
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 50%;
  background-color: white;
  opacity: 0.2;
  height: 60px;
  width: 60px;
  z-index: 4;
}
#main .progressBar {
  height: 8px;
  width: 100%;
  position: relative;
  top: -1px;
}
#main .progressBar:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #e6e6e6;
  z-index: 1;
}
#main .progress {
  width: 10px;
  height: 100%;
  position: absolute;
  background-color: black;
  z-index: 2;
}
#main .Arrows {
  z-index: 60;
  position: absolute;
  top: 60%;
  width: 100%;
}
#main .Arrows .Arrow {
  display: inline-block;
}
#main .Arrows .Arrow img {
  width: 80%;
}

#main .Arrows .rightArrow {
  position: absolute;
  right: 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
/*Fin section Slider */
/* section Oeuvre majeur */
#OeuvreMajeur {
  background-color: white;
  margin-bottom: 75px;
}
#OeuvreMajeur .headerOeuvre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 88px;
}
.OeuvreArrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.OeuvreArrow > div:first-child {
  margin-right: 51px;
}
.OeuvreArrow img {
  width: 14px;
}
.OeuvreArrow .rightArrow img {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
#OeuvreMajeur .headerOeuvre .sectionFirst {
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#OeuvreMajeur .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
}
#OeuvreMajeur .items .item {
  min-width: 270px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 49px;
  overflow: hidden;
}

#OeuvreMajeur .items .item hr {
  border: none;
  height: 1px;
  background-color: #e6e6e6;
  opacity: 0.9;
  width: 80%;
  margin: auto;
}
#OeuvreMajeur .items .item .imgOeuvre {
  min-width: 270px;
  height: 206px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 31px;
}
#OeuvreMajeur .items .item .imgOeuvre img {
  width: 100%;
}
#OeuvreMajeur .items .item .ifnoOeuvre {
  width: 80%;
  margin: auto;
  margin-top: 25px;
  position: relative;
}
#OeuvreMajeur .items .item .ifnoOeuvre h3,
#OeuvreMajeur .items .item .ifnoOeuvre h5 {
  font-family: "Canela-Regular";
  font-weight: 300;
}
#OeuvreMajeur .items .item .ifnoOeuvre h3 {
  line-height: 1.4;
}
#OeuvreMajeur .items .item .ifnoOeuvre .price > * {
  font-family: "Montserrat";
  font-weight: 500;
}

#OeuvreMajeur .items .item .linksHidden {
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  transition: 0.6s all;
}
#OeuvreMajeur .items .item .linksHidden a {
  padding: 0.7em 1em;
  border-radius: 20px;
  border: 1px solid black;
  display: block;
  text-align: center;
  margin: 0.5em 0;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 600;
}
#OeuvreMajeur .items .item:hover .linksHidden {
  top: 0;
  bottom: 0;
}
#OeuvreMajeur .items .item:hover .linksHidden a:nth-of-type(1):hover {
  background-color: black;
  color: white;
}
#OeuvreMajeur .items .item:hover .linksHidden a:nth-of-type(2):hover {
  background-color: white;
  color: black;
}

#OeuvreMajeur .items .item:hover .imgOeuvre img {
  box-shadow: 0px 0px 4px rgb(0, 0, 0, 0.7);
}
#OeuvreMajeur .items .item .linksHidden a:nth-of-type(1) {
  background-color: white;
  color: black;
}
#OeuvreMajeur .items .item .linksHidden a:nth-of-type(2) {
  background-color: black;
  color: white;
}

#OeuvreMajeur .items .item .ifnoOeuvre .price {
  margin-top: 0.9em;
}
#OeuvreMajeur .items .item .ifnoOeuvre .price span {
  color: #c6322d;
}
/* Fin section Oeuvre majeur */
/* section Gallery */
#Gallery {
  margin-bottom: 106px;
}
#Gallery .headerGallery .Arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 0.5em 0;
}
#Gallery .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
#Gallery .item {
  position: relative;
}
#Gallery .item:nth-of-type(1) {
  margin-right: 11px;
}
#Gallery .item:nth-of-type(2) {
  margin: 0 11px;
}

#Gallery .item {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

#Gallery .item .GalleryImage {
  width: 593px;
  height: 435px;
  position: relative;
  margin-bottom: 20px;
  transition: 0.2s all;
}
#Gallery .item:hover .GalleryImage {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

#Gallery .item:nth-of-type(1) .GalleryImage:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #e6e6e6;
  opacity: 0.3;
  transition: 0.2s all;
}
#Gallery .item:nth-of-type(1) .GalleryImage:after {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  background-image: url("../img/imgPlayer.png");
  background-position: center;
  background-size: contain;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}
#Gallery .item:nth-of-type(1):hover .GalleryImage:before {
  opacity: 0;
}

#Gallery .item .GalleryImage img {
  width: 100%;
  height: 100%;
}

#Gallery .item .GalleryInfo {
  margin-left: 20px;
}
#Gallery .item .GalleryInfo h3 {
  font-size: 18px;
  font-weight: 400;
}
/* Fin Section Galley */
/* section calendrier */
#calendrier {
  clear: both;
  margin-top: 102px;
}
#calendrier .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
  margin-top: 42px;
}
#calendrier .items .itemContainer {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
#calendrier .items .containerTitle {
  position: relative;
  padding-left: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
}
#calendrier .items .containerTitle h5 {
  font-weight: 100;
  font-size: 14px;
}

#calendrier .items .containerTitle:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}
#calendrier .item {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-top: 25px;
  width: 273px;
  margin-right: 49px;
}
#calendrier .itemsCalned {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
#calendrier .item .backgroundImage {
  width: 273px;
  height: 199px;
  margin-bottom: 3px;
}
#calendrier .item .backgroundImage img {
  width: 100%;
  height: 100%;
  transition: 0.5s all;
}
#calendrier .item hr {
  width: 85%;
  margin: auto;
}

#calendrier .item .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  align-items: baseline;
  width: 90%;
  margin: 19px 0;
  margin-left: 27px;
}
#calendrier .item .date h3 {
  font-size: 16px;
}

#calendrier .item .date img {
  height: 13px;
  width: 14px;
  margin-right: 15px;
}
#calendrier .item .infocalen {
  width: 90%;
  margin-left: 27px;
  margin-top: 19px;
}

#calendrier .item .infocalen h4 {
  font-weight: 100;
  font-size: 14px;
  margin-bottom: 9px;
}
#calendrier .item .infocalen h3 {
  font-weight: 100;
  font-size: 19px;
  line-height: 23px;
  margin-bottom: 23px;
}
#calendrier .item .infocalen .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
#calendrier .item .infocalen .option img {
  height: 15px;
  width: 15px;
}
#calendrier .item .infocalen .event {
  background-color: #e6e6e6;
  text-align: center;
  width: 223px;
  padding: 11px 0;
  transition: 0.2s all;
}
#calendrier .item .infocalen .event a {
  transition: 0.5s all;
}

#calendrier .item:hover .backgroundImage img {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}
#calendrier .item:hover .infocalen .event {
  background-color: rgb(14, 14, 14);
}
#calendrier .item:hover .infocalen .event a {
  color: white;
  background-color: black;
  display: block;
}
#calendrier .item .infocalen .event a:hover {
  background-color: white;
  color: black;
}
/* Fin section calendrier */
/* sectionventre recently */
#ventreRec {
  margin-top: 101px;
}
#ventreRec .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  position: relative;
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
  margin-top: 46px;
}
#ventreRec .items .item {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 44px;
}
#ventreRec .items .item:hover .backgournImage {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
#ventreRec .items .item:hover .info .linksHidden {
  opacity: 1;
  transition: 0.5s all;
}

#ventreRec .items .item .backgournImage {
  height: 400px;
  width: 282px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 12;
  transition: 0.5s all;
}
#ventreRec .items .item .backgournImage img {
  width: 100%;
}

#ventreRec .items .item .info {
  width: 222px;
  position: relative;
  margin: auto;
  z-index: 2;
}
#ventreRec .items .item .info h3 {
  margin-top: 24px;
  font-weight: 500;
}
#ventreRec .items .item .info h4 {
  font-weight: 400;
}
#ventreRec .items .item .info h5:nth-of-type(1) {
  margin: 6px 0;
}
#ventreRec .items .item .info h5 {
  font-family: "Montserrat";
  font-weight: 500;
}

#ventreRec .items .item .info .linksHidden {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  height: 100%;
  text-align: center;
  background-color: rgb(255, 255, 255, 0.9);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 8;
  opacity: 0;
}

#ventreRec .items .item .info .linksHidden h3 {
  width: 223px;
  display: block;
  background-color: rgb(17, 17, 17);
  padding: 10px 0;
}

#ventreRec .items .item .info .linksHidden h3 a {
  display: block;
  width: 100%;
  color: white;
  background-color: black;
}
#ventreRec .items .item .info .linksHidden h3 a:hover {
  background-color: white;
  color: black;
}

#ventreRec .items .item .info .linksHidden img {
  width: 23px;
  height: 21px;
  margin-top: 14px;
}

#ventreRec .items .item .info h5 span {
  color: #c6322d;
}

/* Fin sectionventre recently */
/* section Comment */
#Comment {
}
#Comment .sectionComment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#Comment .sectionComment .infoComment a {
  color: white;
  background-color: black;
  text-align: center;
}
#Comment .sectionComment .imageComment {
  width: 595px;
  height: 351px;
}
#Comment .sectionComment .imageComment img {
  width: 100%;
  height: 100%;
}

/* Fin Section Comment */
/* Section Footer */
footer {
  background-color: #e6e6e6;
  padding: 50px 0;
}
footer .headerFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  margin-bottom: 28px;
}
footer .headerFooter > span {
  display: none;
}
footer .headerFooter .logo {
  width: 182px;
  height: 31px;
  margin-right: 49px;
}
footer .headerFooter .logo img {
  width: 100%;
  height: 100%;
}
footer .headerFooter .logosocialFooter {
  width: 100px;
  margin-left: 49px;
}
footer .headerFooter .logosocialFooter img {
  width: 100%;
}
footer .footerLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

footer .footerLinks .item > ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: 16px;
}
footer .footerLinks .item:nth-of-type(1) {
  width: 242px;
  margin-right: 189px;
}
footer .footerLinks .item:nth-of-type(1) ul li {
  margin-bottom: 16px;
}

footer .footerLinks .item:nth-of-type(2) {
  width: 108px;
  margin-right: 83px;
}
footer .footerLinks .item:nth-of-type(2) ul li {
  margin-bottom: 11px;
}

footer .footerLinks .item:nth-of-type(3) {
  width: 135px;
}
footer .footerLinks .item:nth-of-type(3) > ul > li {
  font-size: 16px;
  margin-bottom: 10px;
}

footer .footerLinks .item:nth-of-type(4) {
  width: 381px;
}

footer .footerLinks .item:nth-of-type(1) > ul > li {
  font-size: 13px;
}
footer .footerLinks .item:not(:nth-of-type(1)) > ul > li {
  font-size: 16px;
}

footer .footerLinks .item > ul > li > span:nth-of-type(1) {
  height: 11px;
  width: 8px;
  display: inline-block;
  margin-top: 2px;
  margin-right: 16px;
}
footer .footerLinks .item > ul > li > span:nth-of-type(1) img {
  width: 100%;
  height: 100%;
}

footer .footerLinks .item > * {
}

footer .footerLinks .item .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: baseline;
  border-bottom: 2px solid black;
  width: 100%;
  margin-top: 22px;
  margin-bottom: 39px;
}
footer .footerLinks .item .input input {
  border: none;
  background-color: transparent;
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  font-size: 16px;
  padding-bottom: 13px;
}
footer .footerLinks .item .input input:focus {
  border: none;
  outline: none;
}
footer .footerLinks .item .input span {
  width: 11px;
  height: 9px;
}
footer .footerLinks .item .input span img {
  width: 100%;
  height: 100%;
  display: block;
}
footer .footerLinks .item .copyRight > p {
  font-size: 12px;
  margin: 0;
  padding: 0;
  float: right;
  margin-bottom: 15px;
}
footer .footerLinks .item .copyRight .relation {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
footer .footerLinks .item .copyRight .relation p {
  font-size: 11px;
  margin-right: 15px;
}

footer .footerLinks .item .copyRight .relation img {
  width: 91px;
  height: 36px;
}

/* Fin Section Footer */
/*query For tablete*/
@media (min-width: 400px) {
  #main .items {
    min-height: 400px;
  }
  #main .items .item {
    height: 400px;
  }
  #main .Arrows {
    top: 70%;
  }
  /* section Oeuvre majeur */
  #OeuvreMajeur .items .item {
    width: 250px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  /* section Gallery */
  #Gallery .item {
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }

  /* section calendrier */
}
@media (min-width: 760px) {
  html {
    font-size: 16px;
  }
  .container {
    width: 80%;
  }
  header {
    height: 70px;
  }
  header nav {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  header nav .logo img {
    width: 120px;
  }
  header .Links {
    position: static;
    width: auto;
    background-color: transparent;
    -ms-flex-negative: 2;
    flex-shrink: 2;
  }
  header .ButtonLinks,
  header label[for="ButtonLinks"] {
    display: none;
  }
  header .Links hr {
    display: none;
  }
  header .Links > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .linksHover {
    position: relative;
  }
  header .linksHover .LinksHidden {
    position: absolute;
  }

  header .SocialLinks {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    width: auto;
  }

  header .SocialLinks ul {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }

  header .Links > ul > li {
    position: relative;
    padding: 0.8em 0;
    margin: 0 1.2em;
  }

  header .Links > ul > li:after {
    content: "";
    height: 4px;
    width: 0%;
    transition: 0.5s all;
    background-color: black;
    bottom: 0%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
  }
  header .Links > ul > li:hover:after {
    content: "";
    width: 100%;
  }
  header .linksHover {
    position: relative;
  }
  header .linksHover ul {
    overflow-y: visible;
    background-color: white;
    position: absolute;
    display: none;
    width: 200px;
    padding: 0.4em 1em;
    -webkit-box-shadow: 0px 0px 5px black;
    box-shadow: 0px 0px 5px black;
  }
  header .linksHover:hover ul {
    display: block;
    top: 100%;
  }
  /* section slider */
  #main .items {
    height: 100vh;
  }
  #main .items .item {
    height: 100vh;
  }
  #main .items .item .Event {
    width: 50%;
  }
  #main .items .item .Event .EventInfo ul li {
    padding-right: 0.9em;
  }
  #main .items .item .Event .EventInfo .infoEvent span {
    background-color: white;
    display: inline-block;
    height: 20px;
    width: 1px;
  }
  #main .items .item .Event .EventInfo ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  #main .items .item .Event .EventInfo {
    width: 100%;
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
  }
  #main .items .item .Event .EventInfo h3 {
    width: 70%;
  }

  #main .items .item .Event .Details {
    width: 35%;
  }
  #main .Arrows {
    top: 75%;
    width: 60%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  /* section Oeuvre majeur */
  #OeuvreMajeur .headerOeuvre .sectionFirst {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 0.7em;
    width: 273px;
    border-right: 1px solid #e6e6e6;
  }
  #OeuvreMajeur .headerOeuvre .sectionFirst .info {
    margin-left: 19px;
  }
  #OeuvreMajeur .headerOeuvre .sectionFirst .info > * {
    font-size: 11px;
  }
  #OeuvreMajeur .headerOeuvre .sectionFirst .img {
    width: 75px;
    height: 49px;
  }

  #OeuvreMajeur .headerOeuvre .sectionFirst img {
    width: 100%;
  }
  #OeuvreMajeur .headerOeuvre .sectionTitle {
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    padding-left: 49px;
  }
  #OeuvreMajeur .headerOeuvre .sectionTitle h2 {
    font-size: 40px;
  }

  /* Gallery */

  /* section Comment */
  #Comment {
    margin-top: 94px;
    margin-bottom: 105px;
  }
  #Comment .sectionComment {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  #Comment .sectionComment .infoComment {
    width: 512px;
    margin-left: 125px;
  }
  #Comment .sectionComment .infoComment h1 {
    font-size: 35px;
  }
  #Comment .sectionComment .infoComment p {
    font-size: 16px;
    margin: 16px 0;
  }
  #Comment .sectionComment .infoComment a {
    font-size: 16px;
    margin-top: 4px;
    padding: 10px 25px;
  }

  /* foooter */
  footer {
  }
  footer .footerLinks {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
  }

  footer .footerLinks .item:last-child .copyRight {
    width: 70%;
    float: right;
  }
  footer .headerFooter > span {
    display: block;
    height: 2px;
    width: 902px;
    background-color: white;
  }
  footer .footerLinks .item:first-child {
  }
}
